<div class="toast-container">
    <div *ngFor="let toast of toasts" class="toast" [ngClass]="'toast-' + toast.type" [@toastAnimation]="'visible'">
        <div class="toast-content">
            <fa-icon [icon]="getToastIcon(toast.type)" [styles]="{'color': getIconColor(toast.type)}"
                class="toast-icon"></fa-icon>
            <span class="toast-message">{{ toast.message }}</span>
        </div>
        <div class="toast-actions">
            <button *ngIf="toast.action" class="toast-action-button" (click)="executeAction(toast)">
                {{ toast.action.label }}
            </button>
            <button class="toast-dismiss" (click)="dismiss(toast.id)">
                <span class="sr-only">Dismiss</span>
                <fa-icon [icon]="faXmark" class="toast-dismiss-icon" size="xs"></fa-icon>
            </button>
        </div>
    </div>
</div>