<div class="toast-container">
    <div *ngFor="let toast of toasts" class="toast" [ngClass]="'toast-' + toast.type" [@toastAnimation]="'visible'">
        <div class="toast-content">
            <span class="toast-icon" [ngClass]="getIconClass(toast.type)"></span>
            <span class="toast-message">{{ toast.message }}</span>
        </div>
        <div class="toast-actions">
            <button *ngIf="toast.action" class="toast-action-button" (click)="executeAction(toast)">
                {{ toast.action.label }}
            </button>
            <button class="toast-dismiss" (click)="dismiss(toast.id)">
                <span class="sr-only">Dismiss</span>
                <span class="toast-dismiss-icon">×</span>
            </button>
        </div>
    </div>
</div>